html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;}

    /* Aplica solo a móviles (ejemplo con max-width 768px) */
@media (max-width: 768px) {
  .fc .fc-header-toolbar { padding: .25rem; }
  .my-calendar .fc .fc-toolbar-title { font-size:20px !important;
     margin-left: 3rem; }
}